cnbeta.com##.cnbeta-side-sponsor
cnbeta.com##.cooperation.item
cnbeta.com###cb_share
cnbeta.com##.article-global
cnbeta.com##.cnbeta-home-side > .cbv
cnbeta.com##.cnbeta-article-body > .tac
cnbeta.com##.cnbeta-article-vote-tags > .cbv
cnbeta.com##.ad-widget-imageplus-sticker
cnbeta.com##[style*="z-index:99999"]
